<div class="budget">
  <h1>Budget of Ukraine 2017: expenses</h1>
  <app-svg-base appForceSimulation
                [forceStrength]="0.05"
                [nodes]="nodes"
                [height]="chartHeight"
                [width]="chartWidth"
                [margin]="chartMargin"
                [colorScale]="colorScale">
  </app-svg-base>
  <app-budget-legend
    [width]="chartWidth"
    [height]="200"
    [margin]="chartMargin"
    [colorScale]="colorScale"
  ></app-budget-legend>
</div>
